<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body>
		
		<div class="topbar">
			<a href="/home"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
		</div>

        <!-- Includes the Side  bar -->
			<%- include('partials/sidebar', {events: joinedEvents}) %>

		<div class="main">
			<div class="split left">
			  <div class="centered">
				<div class="underlined" style="width:40vw;height:70px;padding-bottom:800px;">
				  
				  <!-- MY EVENTS HERE: -->
				  <h1> My Events </h1>
				  <h2>你好 <%= username %></h2>

					<%if (eventsList.length > 0) { %>
						<%eventsList.forEach(event => {%>
							<form action="/viewEvent/<%=event._id%>" method="POST">
								<div class="box">
								<img src="/uploads/images/<%=event.img%>" style="width: 70px; height: 70px;" id="circle">
								<h3><%= event.eventName %></h3>
							</div>
								<input type="hidden" name="event_name" value="<%=event.eventName%>">
								<input type="submit" name="view_event" value="View event">
							</form>
						<%})%>
					<% }else  {%>
						<h3>You currently do not have any events created!</h3>

						<a href="/createEvent">Create an event</a>
					<% } %>
				</div>
			  </div>
			</div>
		
			<div class="split right">
			  <div class="centered">
				<div class="underlined">
				  <h1> Join Event </h1>
				  <form action="/joinEvent" method="POST">
					<input type="text" name="eventToken" placeholder="Token" required>
					<input type="submit" name="Join" value="Join">
				  </form>
				  

				  <!-- CREATE EVENT HERE: -->
				  <h1> Create an Event </h1>
				  <a href="/createEvent"><img src="../images/createButton.png" style="width:180px;height:70px;padding-bottom:200px;"></a>
				  <h1> Sign out</h1>
				  	<form action="/logout" method="POST">
						<div class="logoutButton">
							<button type="submit" type="submit" onclick="return confirm('Are you sure you want to log out? :(');">Logout</button>
						</div>
					</form>
				</div>
			  </div>
			</div>
		</div>
		</div>
	</body>
</html>