<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <style>
    .column {
      float: left;
    }

    /* Set width length for the left and right columns */
    .left {
      width: 50%;
    }

    .right {
      width: 50%;
    }

    .box {
      background-color: white;
      width: 400px;
      height: 300px;
      border: 3px solid black;
      padding: 50px;
      margin: 20px;
      margin-left: 200px;
    }
  </style>
</head>

<body>
  <!-- Includes the Top Navigation bar -->
  <%- include('partials/topnav') %>

  <div class="homepage">
    <div class="column left">
      <div class="underlined" style="margin-left: 150px; margin-top: 100px; text-align: center;">
        <h1> Public Events </h1>

		<div class="scrollable" style="overflow-y: scroll; height:600px;">
			<%if (publicEventsList.length > 0) { %>
				<%publicEventsList.forEach(publicEvent => {%>
					<% if(moment() >= moment(publicEvent.startDate) && moment() < moment(publicEvent.endDate)) {%>
						<form action="/guestFeedback/<%=publicEvent._id%>" method="POST">
              <div class="boxlol">
                <input type="radio" name="eventID" value="true">
                <input type="hidden" name="event_id" value="<%=publicEvent._id%>">
                <img src="/uploads/images/<%=publicEvent.img%>" style="width: 70px; height: 70px;" id="circle_my_events_active">
                <h3><%= publicEvent.eventName %></h3>
                </div>
					<%} else if(moment() <= moment(publicEvent.startDate)){%>
						<!-- <form action="/viewEventGuest" method="POST">
              <div class="boxlol">
                <img src="/uploads/images/<%=publicEvent.img%>" style="width: 70px; height: 70px;" id="circle_my_events_inactive">
                <h3><%= publicEvent.eventName %></h3>
              </div>
							<input type="hidden" name="event_id" value="<%=publicEvent._id%>">
							<input type="submit" name="view_event" value="View event">
						</form> -->
					<%}%>
				<%})%>
			<% }else  {%>
				<p>There are no public events available to join.</p>
			<% } %>
		</div>
      </div>
      
    </div>
    
    <div class="column right">
      <div class="underlined" style="margin-left: 150px; margin-right:50px; margin-top: 100px; text-align: center;">
        <h1> Join event </h1>
          <input type="text" id="guestUsername" name="guestUsername" placeholder="Enter username" required>
          <br>
          <br>
          <input type="text" id="guestToken" name="guestToken" placeholder="Token (for private events)">
          <!-- <br>OR...<br> -->
          <!-- <input type="text" id="guestEventName" name="guestEventName" placeholder="Enter public event name"> -->
          <br>
          <br>
          <div class="button">
            <button type="submit" name="joinGuestEvent">Join</button>
          </div>
          <br>
        </form>
      </div>
    </div>

    <script>
        const privateEvent = document.getElementById('guestToken');
        const publicEvent = document.getElementById('guestEventName');

        privateEvent.addEventListener('input', evt => {
          const value = privateEvent.value;

          if(value) {
            publicEvent.disabled = true;
          }else {
            publicEvent.disabled = false;
          }
        })

        publicEvent.addEventListener('input', evt => {
          const value = publicEvent.value;

          if(value) {
            privateEvent.disabled = true;
          }else {
            privateEvent.disabled = false;
          }
        })
    </script>

  </div>
</body>

</html>