<!DOCTYPE html>
<html>
<head>
  <title>This is the created event page</title>
  <link rel="stylesheet" href="../css/styles.css" type="text/css">
</head>

<body>
    <div class="topbar">
      <a href="../index.html"><img src="../images/logo.png" style="width:70px;height:70px;"></a>
      <h1> SUMMARY </h1>
    </div>
    <div class="sidenav">
      <a href="../index.html"><img src="../images/homeButton.png" style="width:75px;height:75px;"></a>
    </div>
    
    <div class="main">
        <%eventDetails.forEach(event => {%>
        <div class="split left">
                <h1><%= event.eventName %></h1>
                <h1>Your icon = </h1>
                <h1>Participants: <%= event.participants %></h1>
                <h1><label for="attendees">Joined:</label></h1>
                <select name="attendees" id="attendees">
                    <% for(i in event.participantsList) {%>
                        <option value="<%= event.participantsList[i] %>">"<%= event.participantsList[i] %>"</option>
                    <%}%>
                </select>
                <h1>Your start date = <%= moment(event.startDate).format('Do MMMM, YYYY'); %></h1>
                <h1>Your end date = <%= moment(event.endDate).format('Do MMMM, YYYY'); %></h1>
                <h1>Your other options = </h1>
        </div>

        <div class="split right">
            <h1>Your templates = </h1>
            <h1>Your attendees or token = </h1>
        </div>

        <%})%>
    </div>
</body>
</html>